---
import DefaultLayout from  '../layouts/defaultLayout.astro'; 

const content = {
  title: 'Minako Williams, painter',
  description: 'Welcome to the website for Minako Williams',
  lang: 'en'
};
---
<style>
	.section {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	@media (min-width: 750px) {
		.overlay {
			padding-left: 4rem;
		}
	}

	.tagline {
		text-align: center;
		font-size: calc(1vw + 1vh + 3vmin);
		margin:3em .5em;
		font-weight: 700;
		text-shadow: 3px 3px rgba(255,255,255,0.3), -3px -3px rgba(255,255,255,0.4);
		line-height: 130%;
	}

	@media (min-width: 1200px) {
		.tagline {
			margin: 3em 4em;
		}
	}

	@media (min-width: 800px) {
		.tagline {
			margin: 3em 2em;
		}
	}
</style>

<DefaultLayout content={content}>
	<div class="section">
		<p class="tagline">
			&ldquo;What infinite possibilities can we discover or manifest as real as life itself?&rdquo;
		</p>
	</div>
</DefaultLayout>
