---
import '../styles/global.css';
const {
	title = 'Minako Williams art',
	description = 'Williams’ paintings are about her personal understanding of different planes of existence and discovering secrets of the universe. By using experimental materials and methods with acrylic paint as well as researching philosophical texts, she brings her discoveries to life',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Gloria%20Hallelujah:wght@200;400;700&display=swap"
	rel="stylesheet"
/>
