<nav>
	<a class="link brand" href="/">
		<div class="monogram">Minako Williams</div>
	</a>
	<a class="link about" href="/about"> About</a>
	<a class="link" href="/portfolio"> Portfolio</a>
	<a href="/cv" class="link"> CV</a>
	<a href="/exhibitions" class="link"> Exhibitions</a>
	<a href="/contact" class="link"> Contact</a>
</nav>

<style>
	nav {
		display: flex;
		column-gap: 1em;
		align-items: flex-start;
		padding: 0 1em;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	.link {
		display: block;
		text-decoration: none;
		font-size: calc(1vw + 1vh + .70vmin);
		color: black;
	}

	.link.brand {
		padding: 0;
	}

	.link.about {
		margin-left: auto;	
	}

	.link:hover,
	.link:focus {
		text-decoration: underline;
	}

	.monogram {
		margin-top: .5em;
		/* margin-right: 0.5rem; */
		font-weight: 900;
		font-size: calc(1vw + 1vh + 2.75vmin);
	}

	@media (max-width: 930px) {
		.monogram {
			max-width: 4em;
			line-height: 1.2em
		}
	}



</style>
