<nav>
	<a class="link brand" href="/">
		<div class="monogram">Minako Williams</div>
	</a>
	<div class="pagelinks">
		<a class="link about" href="/about">About</a>
		<a class="link" href="/portfolio">Portfolio</a>
		<a href="/cv" class="link">CV</a>
		<a href="/exhibitions" class="link">Exhibitions</a>
		<a href="/contact" class="link">Contact</a>
	</div>
</nav>

<style>
	nav {
		display: flex;
		align-items: flex-start;
		padding: 0 1em;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	.link {
		display: block;
		text-decoration: none;
		font-size: calc(1vw + 1vh + .70vmin);
		color: black;
	}

	.link.brand {
		padding: 0;
		margin-right: auto;
	}

	.link:hover,
	.link:focus {
		text-decoration: underline;
	}

	.monogram {
		margin-top: .5em;
		/* margin-right: 0.5rem; */
		font-weight: 900;
		font-size: calc(1vw + 1vh + 2.75vmin);
	}

	.pagelinks {
		display: flex;
		column-gap: 1em;
	}

	@media (max-width: 900px) {
		.monogram {
			max-width: 4em;
			line-height: 1.2em
		}

	}

	@media (max-width: 630px) {
		.monogram {
			max-width: none;
		}
		.pagelinks {
			margin-top: .5em;
			flex-direction: column;
		}
	}



</style>
