---
const path = Astro.url.pathname.replace('/', '');
---
<nav>
	<a class="link brand" href="/">
		<div class="monogram">Minako Williams</div>
	</a>
	<div class="pagelinks">
		<a class:list={["link", {selected: path==="about"}]} href="/about">About</a>
		<a class:list={["link", {selected: path==="portfolio"}]} href="/portfolio">Portfolio</a>
		<a class:list={["link", {selected: path==="cv"}]} href="/cv">CV</a>
		<a class:list={["link", {selected: path==="contact"}]} href="/contact">Contact</a>
	</div>
</nav>

<style>
	nav {
		display: flex;
		align-items: flex-start;
		padding: 0 1em;
		justify-content: flex-end;
		flex-wrap: wrap;
	}

	.link {
		display: block;
		text-decoration: none;
		font-size: calc(1vw + 1vh + .70vmin);
		color: black;
	}

	.link.brand {
		padding: 0;
		margin-right: auto;
	}
	.link.selected {
		font-weight: 700;
	}

	.link:hover,
	.link:focus {
		text-decoration: underline;
	}

	.monogram {
		margin-top: .5em;
		font-weight: 900;
		font-size: calc(1vw + 1vh + 2.75vmin);
	}

	.pagelinks {
		display: flex;
		column-gap: 1em;
	}

	@media (max-width: 630px) {
		.monogram {
			max-width: none;
		}
		.pagelinks {
			margin-top: .5em;
			flex-direction: column;
		}
	}



</style>
